<!doctype html>
<html lang="es" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Useful blog">

    <title>{% block title %}symfboots!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
</head>
    <body class="d-flex flex-column h-100">
    {% include 'default/navigation.html.twig' %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block body %}  >

            {% endblock %}
        </div>
    </main>
    <div class="container-fluid">
        <div id="fmessage">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div  class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container-fluid">
            <span class="text-muted">Blog personal</span>
            <ul class="list-group">
            <li class="small list-group-item">Twitter&nbsp;<i class="fa fa-twitter-square" aria-hidden="true"></i></li>
            <li class="small list-group-item">Facebook&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i></li>
            </ul>

        </div>
    </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
            <script type="text/javascript">
                var URL="{{ app.request.getSchemeAndHttpHost() }}/";
            </script>

            <script src="{{ asset('js/search.js') }}"></script>
        {% endblock %}
    </body>
</html>




