{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="container-fluid">
        <div class="card">

        <h2 class="tema-color">{{ post.title }}</h2>
        <p>{{ post.contents | raw }}</p>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == post.user %}
    <p>
        <a href="{{ path("app_post_edit",{'id':post.id}) }}"><button class="btn btn-secondary" >Edit</button></a>
    </p>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if not post.comments.empty %}
            Comments <span class="badge">{{post.comments|length}}</span>
            {% for comment in post.comments %}
                <div class="panel panel-default"><p><mark>by {{comment.user.username|capitalize}}</mark>
                        {% if comment.user.avatar %}
                            <img class="img-circle" width="30px" src="{{ asset('uploads/pictures/' ~ comment.user.picture) }}"></img>
                        {% endif %}
                    </p>
                    <p>{{comment.comment}}</p>
                    <div class="panel panel-footer"><strong>Commented at:</strong><em> {{comment.createdAt|date('d-m-Y')}}</em></div>
                </div>

            {% endfor %}
        {% endif %}
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{render(controller('App\\Controller\\CommentController::commentForm',{'id': post.id}))}}
    {% else %}
        <p>
            <a class="btn btn-success" href="{{ path('app_login') }}">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
            </a>
        </p>
    {% endif %}
    </div>
{% endblock %}