{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col">
        <div class="card bg-light">
            <div class="card card-header">
                <h2 class="tema-color text-center">{{ post.title }}</h2>
            </div>
            <div class="card card-body">
                <p>{{ post.contents | raw }}</p>
            </div>
            <div class="card card-footer">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == post.user %}
            <p>
                <a href="{{ path("app_post_edit",{'id':post.id}) }}"><button class="btn btn-secondary" >Edit</button></a>
            </p>
            {% endif %}


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if not post.comments.empty %}
                   <p> Comments <span class="badge badge-info">{{post.comments|length}}</span></p>
                    {% for comment in post.comments %}
                        <p><mark>by {{comment.user.username|capitalize}}</mark>
                                {% if comment.user.avatar %}
                                    <img class="img-circle" width="30px" src="{{ asset('uploads/pictures/' ~ comment.user.avatar) }}"></img>
                                {% endif %}
                            </p>
                            <p >{{comment.comment}}</p>
                            <strong>Commented at:</strong><em> {{comment.createdAt|date('d-m-Y')}}</em></div>


                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{render(controller('App\\Controller\\CommentController::commentForm',{'id': post.id}))}}
            {% else %}
            <p><small> If you want to <a href="{{ path('app_login') }}">comment</a></small></p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}